---
layout: default
---

<h1>{{page.title}}</h1>
<div class="row">
  <div class="col-md-5">
    {{content}}
  </div>
  <div class="col-md-5">
      <img src="{{site.baseurl}}/images/screenshots/{{page.screenshot}}" class="img-fluid img-thumnbnail" atl="Panel screenshot">
  </div>
</div>

<hr/>
<p>Edit <a href="https://gitlab.com/{{site.author}}/panel-collections/tree/master/docs/{{page.path}}">this doc</a></p>