---
layout: default
---

<p>This site contains documentation for the set of standard panels included in Bitergia Analytics platform.</p>

<h2>Open Source Program Office</h2>
<ul class="list-group list-group-flush">
  {% for panel in site.open_source_program_office %}
  <li class="list-group-item list-group-item-action"><a href="{{ site.baseurl }}{{panel.url}}">{{panel.title}}</a>: {{panel.description}}</li>
  {% endfor %}
</ul>

<h2>Sample collection</h2>
<ul class="list-group list-group-flush">
  {% for panel in site.sample-collection %}
  <li class="list-group-item list-group-item-action"><a href="{{ site.baseurl }}{{panel.url}}">{{panel.title}}</a>: {{panel.description}}</li>
  {% endfor %}
</ul>